.bounceAnimation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.bounceAnimationContainer {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 400px;
  border-bottom: 3px solid black;
  border-radius: 3%;
}

.bounceAnimationCircle {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  border-radius: 50%;
  animation: bounce 2s infinite ease-in-out;
  animation-play-state: paused;
}

.bounceAnimationControls {
  display: flex;
  align-items: center;
  gap: 16px;
}

.bounceAnimationButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(297px);
  }

  50% {
    transform: translateY(0px);
    /* Move the bounceAnimationCircle down by 200px */
  }
}
